{% extends "base.html" %}
<!--{% load static main blog_filter%}-->
{% load static %}
<!--{% block head %}{% endblock head %}-->
{% block header %}
{% include 'includes/header.html'  with selected='profile' %}
{% endblock header %}
{% block container %}



<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css1">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

      {% include 'profile/includes/column_avatar.html' %}


    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                <li><a data-toggle="tab" href="#messages">Change profile</a></li>
                <li><a data-toggle="tab" href="#settings">Change password</a></li>
              </ul>


          <div class="tab-content">
          {% include 'profile/includes/home.html' %}
          {% include 'profile/includes/change_profile.html' %}
          {% include 'profile/includes/change_password.html' %}

          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->




{% endblock container %}

{% block jquery %}
$.getScript('{% static 'profile/change_profile.js' %}');
$.getScript('{% static 'profile/change_password.js' %}');
{% endblock %}


