{% extends "base.html" %}
{% load static %}
{% block container %}


<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1> {{ full_name }}</h1></div>
    	<div class="col-sm-2">
        <form action="{% url 'profiles:profile-list' %}">
          <button class="btn btn-lg btn-primary" class="pull-right"> ALL USERS </button>
        </form>

    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->



      <div class="text-center">
        <img src="{{ avatar }}" class="avatar img-circle img-thumbnail" alt="avatar" id="avatar">
      </div>
    </div>


    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
              </ul>


          <div class="tab-content">
          {% include 'profile/includes/show_home.html' %}

          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->

{% include 'profile/includes/column_show_follower.html' %}
{% include 'profile/includes/modal_window_show_followi.html' %}
{% endblock container %}

{% block jquery %}
$.getScript('{% static 'profile/follower.js' %}');
{% endblock %}
