<!-- the comment box -->
{% load blog_filter%}
<div class="well">
  <h4><i class="fa fa-paper-plane-o"></i> Leave a Comment:</h4>
  <form role="form">
    <div class="form-group">
      <textarea class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary"><i class="fa fa-reply"></i> Submit</button>
  </form>
</div>
<hr>
<!-- the comments -->
{% for comment in comments %}
<h3><i class="fa fa-comment"></i> {{ comment.author }}:
  <small> {{ comment.updated|timefilter  }}</small>
</h3>
<p>{{ comment.content }}</p>
  <button type="submit" class="btn btn-primary"><i class="fa fa-reply"></i> Submit</button>
  {% for child in comment.child %}
    <h3><i class="fa fa-comment"></i> {{ child.author }}:
      <small> {{ child.updated|timefilter  }}</small>
    </h3>
    <p>{{ child.content }}</p>
  {% endfor %}
{% endfor %}


