             <div class="tab-pane" id="messages">

               <h2></h2>

               <hr>
                  <form class="form" action="{% url 'profiles:profile_detail' %}"  id="changeProfileForm">
                      <div id="first_nameGroup" class="form-group">

                          <div class="col-xs-6" >
                              <label for="first_name"><h4>First name</h4></label>
                              <input type="text" class="form-control" name="first_name" id="first_name"
                                     placeholder="first name" title="enter your first name if any.">
                          </div>
                      </div>
                      <div id="last_nameGroup" class="form-group">

                          <div class="col-xs-6" >
                            <label for="last_name"><h4>Last name</h4></label>
                              <input type="text" class="form-control" name="last_name" id="last_name"
                                     placeholder="last name" title="enter your last name if any.">
                          </div>
                      </div>

                      <div id="mobileGroup" class="form-group">
                          <div class="col-xs-6" >

                             <label for="mobile"><h4>Mobile</h4></label>
                              <input type="text" class="form-control" name="mobile" id="mobile"
                                     placeholder="enter mobile number" title="enter your mobile number if any.">
                          </div>
                      </div>
                      <div id="locationGroup" class="form-group">

                          <div class="col-xs-6" >
                              <label for="location"><h4>Location</h4></label>
                              <input type="location" class="form-control" name='location' id="location"
                                     placeholder="somewhere" title="enter a location">
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i
                                  class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i
                                  class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
              	  </form>

             </div><!--/tab-pane-->

