{% load i18n %}
<hr><hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>{{ profile.full_name }} </h1></div>
    	<div class="col-sm-2">
        <form action="{% url 'profiles:profile-list' %}">
          <button class="btn btn-lg btn-primary" class="pull-right"> ALL USERS </button></div>
        </form>

    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->



      <div class="text-center">
        <img src="{{ profile.avatar }}" class="avatar img-circle img-thumbnail" alt="avatar" id="avatar">
        <h6>{% blocktrans %} 'Upload a different photo... {% endblocktrans %}</h6>

            <input type="file" class="text-center center-block file-upload" name="avatar" id="avatarUpload"
                   data-href="{% url 'profiles:avatar_upload' %}">

      </div></hr><br>

      {% include 'profile/includes/column_website.html' %}
      {% include 'profile/includes/column_follower.html' %}
      {% include 'profile/includes/column_activity.html' %}
      {% include 'profile/includes/column_social_media.html' %}

        </div><!--/col-3-->
