            <div class="tab-pane active" id="home">
                <hr>
                  <form class="form" action="/profiles" method="post" >

                  </form>
                      <div class="form-group">

                          <div class="col-xs-6">

                              <label for="firstname"><h4>First name </h4></label>
                              <input type="text" class="form-control" name="first_name" id="firstname"
                                     placeholder="{{ first_name }}" title="enter your first name if any.">
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                            <label for="lastname"><h4>Last name</h4></label>
                              <input type="text" class="form-control" name="last_name" id="lastname"
                                     placeholder="{{ last_name }}" title="enter your last name if any.">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="mobile_phone"><h4>Mobile</h4></label>
                              <input type="text" class="form-control" name="mobile" id="mobile_phone"
                                     placeholder="{{ mobile }}" title="enter your mobile number if any.">
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="email_user"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email_user"
                                     placeholder="{{ email }}" title="enter your email.">
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="address"><h4>Location</h4></label>
                              <input type="text" class="form-control" id="address" placeholder="{{ location }}"
                                     title="enter a location">
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="website"><h4>Website</h4></label>
                              <input type="text" class="form-control" id="website" placeholder="{{ website }}"
                                     title="enter a location">
                          </div>
                      </div>
             	</form>

              <hr>

             </div><!--/tab-pane-->
