{% extends 'auth_app/base.html'%}
{% load static %}

{% block head %}
<link href="{% static 'auth_app/css/sign_up.css' %}" rel="stylesheet">
{% endblock head %}

{% block container %}
{% include 'auth_app/includes/prevent_access.html' %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form action="{% url 'auth_app:api_sign_up' %}" data-href="{% url 'auth_app:verification_sent' %}" method="post" accept-charset="utf-8" class="form" role="form" id="signUpForm">
      <legend>Sign Up</legend>
      <h4>It's free and always will be.</h4>
      <div class="row">
        <div class="col-xs-6 col-md-6" id="firstNameGroup">
          <input type="text" name="first_name" value="" class="form-control input-lg" placeholder="First Name" required/></div>
        <div class="col-xs-6 col-md-6" id="lastNameGroup">
          <input type="text" name="last_name" value="" class="form-control input-lg" placeholder="Last Name" required/></div>
      </div>
      <div id="emailGroup">
        <input type="text" name="email" value="" class="form-control input-lg" placeholder="Your Email" required/>
      </div>
      <div id="password1Group">
        <input type="password" name="password1" value="" class="form-control input-lg" placeholder="Password" required/>
      </div>
      <div id="password2Group">
        <input type="password" name="password2" value="" class="form-control input-lg" placeholder="Confirm Password" required/>
      </div>
      {% include 'auth_app/includes/birth_date.html' %}
      {% include 'auth_app/includes/gender.html' %}
      <br/>
      <span class="help-block">By clicking Create my account, you agree to our Terms and that you have read our Data Use Policy, including our Cookie Use.</span>
      <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
        Create my account
      </button>
    </form>
  </div>
</div>
{% endblock container %}

{% block jquery %}
$.getScript('{% static 'auth_app/js/sign-up.js' %}');
{% endblock %}
