{% extends "blog/base.html" %}
{% load static main blog_filter%}

{% block head %}{% endblock head %}

{% block container %}
<div class="row">
  <div class="col-lg-8"><br><br><br>

    <!-- the actual blog post: title/author/date/content -->
    <h1><a href="">{{ title }}</a></h1>
    <p class="lead"><i class="fa fa-user"></i> by <a href="">{{ author.full_name }}</a>
    </p>
    <hr>
    <p><i class="fa fa-calendar"></i>Posted: {{ created|timefilter }}</p>
    <p><i class="fa fa-tags"></i> Tags: <a href=""><span class="badge badge-info">Bootstrap</span></a> <a
      href=""><span class="badge badge-info">Web</span></a> <a href=""><span class="badge badge-info">CSS</span></a>
      <a href=""><span class="badge badge-info">HTML</span></a></p>
      <a class="social-like" id="articleLike" data-href="{% url 'actions:like_dislike' %}" data-vote=1 data-model="article" data-id="{{ id }}">
          <span class="like"><i class="glyphicon glyphicon-thumbs-up"></i></span>
          <span class="count" id="likeCount">{{ likes }}</span>
      </a>
      &nbsp;
      <a class="social-dislike" id="articleDislike" data-href="{% url 'actions:like_dislike' %}" data-vote=-1 data-model="article" data-id="{{ id }}">
          <span class="count" id="dislikeCount">{{ dislikes }}</span>
          <span class="like"><i class="glyphicon glyphicon-thumbs-down"></i></span>
      </a>
    <hr>
    <img src="{{ image }}" width="400" height="200" alt="image" class="image img-responsive">
    <hr>
    <p class="lead">{{ content|safe }}</p>
    <p>
    </p>
    <br/>

    <div class="g-plusone" data-annotation="inline" data-width="300" data-href=""></div>

    <br/>
    <hr>
    <!-- the comment box -->
    {% include 'blog/includes/comments.html' %}

  </div>
  {% include 'blog/includes/right_sidebar.html' %}
</div>
{% endblock container %}


{% block jquery %}
$.getScript('{% static 'blog/js/detail.js' %}');
$.getScript('{% static 'blog/js/like_dislike.js' %}');
{% endblock %}
